/* this entire file will be removed in stages in future
  since we are using bleading age BS4-alpha some things are geetings fixed
  and changed, but not yet published to bower/npm, so we are doing desired fixes
  manually here.

  Each section starts from BEGIN and ends with END + name of the future version of BS
  where this changes will be released.
*/

/* BEGIN BS4-alpha2 */
  //overriding grid as per following PR https://github.com/twbs/bootstrap/commit/eabed0edf84c61bb4095ce8f92f41e58552785b9
  $grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
  );

  //divides by 14 without reminder to avoid non-round pixel errors
  $container-max-widths: (
    sm: 574px,
    md: 728px,
    lg: 938px,
    xl: 1148px
   );

/* END BS4-alpha2 */
