// **************************************************
// **************************************************
//baseline and grid overlay

$show-baseline: true;
$show-secondary-baseline: true;
$show-container-edges: true;

$baseline-secondary-outline-violet: hsla(300, 100%, 50%, .3);

@if $show-baseline {
  body {
    @if $show-secondary-baseline {
      background-image:
        linear-gradient(to bottom, hsla(200, 100%, 50%, .2) 1px, transparent 1px),
        linear-gradient(to bottom, hsla(200, 100%, 50%, .4) 1px, transparent 1px);
    } @else {
      background-image:
        linear-gradient(to bottom, hsla(200, 100%, 50%, .4) 1px, transparent 1px);
    }

    background-position: left -1px;
    background-repeat: repeat;
    @if $show-secondary-baseline {
      background-size:
        $line-height-rem/2 $line-height-rem/2,
        $line-height-rem $line-height-rem;
    } @else {
      background-size: $line-height-rem $line-height-rem;
    }
  }
}

@if $show-container-edges {
  $grid-outline-blue: hsla(200, 100%, 50%, .1);
  $grid-outline-green: hsla(87, 91%, 42%, .2);

  .container {
    //outline of containter
    box-shadow:
      //outline external space (not a margin really)
      20px 0px 0px $grid-outline-blue, -20px 0px 0px $grid-outline-blue,
      //outline paddings
      inset ($grid-gutter-width/2) 0px 0px $grid-outline-green,
      inset (0-$grid-gutter-width/2) 0px 0px $grid-outline-green;
  }
}


//allows to see guidelines
.row {
    //opacity: 0.6;
}
