@import 'variables';

//baseline set with the help of http://www.gridlover.net/app/ and http://beta.gridlover.net/projects/74
//typographic scale of 1.333 (4/3, perfect fourth) is used
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400,400italic,300,300italic,100);

//headings
$headings-margin-top: $line-height-rem;
$headings-margin-bottom: $line-height-rem;
$headings-font-family: 'Europa', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 400;
$headings-color: black;
$headings-color-secondary: grey;
$h1-font-size: scaleUp(5);
$h1-line-height: $line-height-rem * 3;

$h2-font-size: scaleUp(4);
$h2-line-height: $line-height-rem * 2;

$h3-font-size: scaleUp(3);
$h3-line-height: $line-height-rem * 2;

$h4-font-size: scaleUp(2);
$h4-line-height: $line-height-rem;

$h5-font-size: scaleUp(1);
$h5-line-height: $line-height-rem;

html {
  //todo: consider not setting base font at all
  //font-size: 62.5%;
  font-size: getBaseFontSize() + px;
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: $line-height-rem;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $headings-font-family;

  //text-transform: uppercase;
  font-weight: $headings-font-weight;
  color: $headings-color;
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
}
h1 {
  font-size: $h1-font-size;
  text-transform: uppercase;
  line-height: $h1-line-height;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  //margin-bottom: 0;
}
h5 {
  font-size: $h5-font-size;
  font-weight: 400;
  line-height: $h5-line-height;
  margin-bottom: 0;
  color: $headings-color-secondary;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: $line-height-rem;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
