
$base-font-size-px: 14;
//specific to lato and follows golden ratio based on http://www.imarc.com/blog/750-
$line-height: 1.36;
$base-line-in-px: $base-font-size-px * $line-height;

$base-font-size: 14px;
$base-line-height: 1.1875rem;
$measure: 760px;

$h1-font-size: 2.0625rem;
$h1-line: 1.1875rem;
$h1-lines: 2;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 1.5625rem;
$h2-line: 1.1875rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.1875rem;
$h3-line: 1.1875rem;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 0.875rem;
$h4-line: 1.1875rem;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

@import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);
.oswald { font-family: 'Oswald';}

//body
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,400italic,300,300italic);

html {
  //font-size: $base-font-size;
}

html, body {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Oswald', serif;
  font-weight: 400;
  //text-transform: uppercase;
  color: black;
}

// h1 {
//   font-size: $h1-font-size;
//   line-height: $h1-line-height;
//   margin-top: $h1-margin-top;
//   margin-bottom: $h1-margin-bottom;
// }


// **************************************************
// **************************************************
//baseline and grid overlays

@function getLineHeight($fontSizePx, $lineHeight) {
  @return round(($fontSizePx * $lineHeight));
}


@import 'bs4-overrides';

body {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size:
    getLineHeight($font-size-root, $line-height)
    getLineHeight($font-size-root, $line-height);
//  background-image: url("http://basehold.it/i/" + getLineHeight($base-font-size-px, $line-height) + "/ff0000");
}

$grid-outline-yellow: hsla(35, 100%, 50%, .3);
$grid-outline-blue: hsla(200, 100%, 50%, .1);
$grid-outline-green: hsla(87, 91%, 42%, .2);
$grid-col-background: hsla(20, 100%, 50%, 0.1);
$grid-col-background: transparent;

.container {
  //outline of containter
  box-shadow:
    //outline external space (not a margin really)
    20px 0px 0px $grid-outline-blue, -20px 0px 0px $grid-outline-blue,
    //outline paddings
    inset ($grid-gutter-width/2) 0px 0px $grid-outline-green, inset (0-$grid-gutter-width/2) 0px 0px $grid-outline-green;
}

//allows to see guidelines
// .row {
//     opacity: 0.6;
// }
