//Typography

@function getBaseFontSize() {
  @return 14;
}

@function getScale() {
  @return 1.3333;//perfect fourth
}

@function scaleUp($number) {
  $scale: getScale();
  $base-font-size: getBaseFontSize(); //plain number to use in calculation and not to mess with px to rem convertion

  $size: $base-font-size;

  @if $number == 1 {
    @return (round($size) / $base-font-size) + 0rem;
  }

  @for $i from 1 through $number - 1 {
    $size: $size * $scale;
  }

  $size-rems: (round($size) / $base-font-size) + 0rem;
  @return $size-rems;
}


//specific to lato and follows golden ratio based on http://www.imarc.com/blog/750-
$line-height: 1.36;
$base-line: round(getBaseFontSize() * $line-height);
//calculating ideal height in rems, but that rounds nicely to pixels
$line-height-rem: ($base-line / getBaseFontSize()) + 0rem;

//calculating small (one step from base) font size
$font-size-sm: (round(getBaseFontSize() / getScale()) / getBaseFontSize()) + rem;
