//colors (update matching ones in colors.js)
//number at the end means level of darkness =)
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-350: #D3D3D3; //lightgrey
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;


$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;


//Typography
@function getBaseFontSize() {
  //change in typography.js also
  @return 9;
}


@function getScale() {
  @return 1.25; //9, 11, 14, 18, 23, 29, 36, 45
}

@function scaleUp($number) {
  $scale: getScale();
  $base-font-size: getBaseFontSize(); //plain number to use in calculation and not to mess with px to rem convertion

  $size: $base-font-size;

  @if $number == 1 {
    @return (round($size) / $base-font-size) + 0rem;
  }

  @for $i from 1 through $number - 1 {
    $size: $size * $scale;
  }

  $size-rems: (round($size) / $base-font-size) + 0rem;
  @return $size-rems;
}

//this is a hack, since SASS doesn't have standard locally scoped variables, defining a pseudo
//class "local-scope", all variables inside it are local, except onse marked with "!gloabal" flag
.local-scope {
  //$line-height: 1.28571428;
  //$base-line: round(getBaseFontSize() * $line-height);
  //calculating ideal height in rems, but that rounds nicely to pixels
  //$line-height-rem: ($base-line / getBaseFontSize()) + 0rem;
  $line-height-rem: 2rem !global; //hardcoing
}

$half-line-height-rem: $line-height-rem / 2;

//calculating small (one step down from base) font size
$font-size-xs: scaleUp(1);
$font-size-s: scaleUp(2);
$font-size-m: scaleUp(3);

//headings
$headings-margin-top: $line-height-rem;
$headings-margin-bottom: $line-height-rem;
//$headings-font-family: 'Europa', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 400;
$headings-color: black;
$headings-color-secondary: $grey-600;

$h1-font-size: scaleUp(8); //8 or 7
$h1-line-height: $line-height-rem * 3;

$h2-font-size: scaleUp(6);
$h2-line-height: $line-height-rem * 2;

$h3-font-size: scaleUp(5);
$h3-line-height: $line-height-rem * 2;

$h4-font-size: scaleUp(4);
$h4-line-height: $line-height-rem * 2;

$h5-font-size: scaleUp(3);
$h5-line-height: $line-height-rem;
