$enable-flex: true;
//@import 'bower_components/bootstrap/scss/bootstrap';
//@import 'bower_components/bootstrap/scss/bootstrap-grid.scss';
//@import './atoms/sf-font.scss';

//headings
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
.oswald { font-family: 'Oswald';}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.montserrat { font-family: 'Montserrat';}
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
.merriweather {font-family: 'Merriweather';}
@import url(https://fonts.googleapis.com/css?family=Francois+One);
.francois-one {font-family: 'Francois One';}

//body
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,700,100);
.work-sans {font-family: 'Work Sans'}
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700);
.alegreya-sans {font-family: 'Alegreya Sans'; font-size: 1.05rem;}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.open-sans {font-family: 'Open Sans'; font-size: 0.95rem;}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.source-sans-pro {font-family: 'Source Sans Pro'; }
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
.roboto-condensed {font-family: 'Roboto Condensed';}
@import url(https://fonts.googleapis.com/css?family=Roboto);
.roboto {font-family: 'Roboto';}
/* Merriweather Sans is a low-contrast semi-condensed sans-serif text typeface family
	 designed to be pleasant to read at very small sizes. Merriweather Sans is traditional
	 in feeling despite the modern shapes it has adopted for screens.*/
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300);
.merriweather-sans {font-family: 'Merriweather Sans'; font-size: 0.9rem;}
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.pt-sans {font-family: 'PT Sans';}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
.pt-sans-narrow {font-family: 'PT Sans Narrow';}
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
.open-sans-condensed {font-family: 'Open Sans Condensed';}
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
.fira-sans {font-family: 'Fira Sans';}


.helvetica-neue {font-family: 'Helvetica Neue';}

/* TODO:
		Fira Sans
*/

@font-face{
	font-family: 'Aleo';
	src: url('Aleo-Regular-webfont.woff') format('woff'),
}

.aleo {font-family: 'Aleo';}


$body-color: #333;
$body-bg-color: #FAFAFA;
html, body {
  margin: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: $body-color;
  background-color: $body-bg-color;
}

h1,h2,h3 {
  font-family: 'Oswald', serif;
  //font-weight: 700;
}

h1 {
  text-transform: uppercase;
}

$col-brdr-color: lighten(grey, 30%);
$col-color: lighten(lightpink, 11%);;


[class^="col-"] {
  border: 1px solid $col-brdr-color;
  min-height: 200px;
  background-color: $col-color;
//  min-width: 167px;
}

.reset-height {
	min-height: initial;
}

[class^="col-"].transparent {
  background-color: transparent;
  border: none;
}


div {

}

#test {
}

.class .another {

}
