@import 'styles/bs4-overrides';
@import 'styles/bs4-fixes';

//@import 'bower_components/bootstrap/scss/bootstrap';

@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/normalize';
@import 'bower_components/bootstrap/scss/mixins/hover';
@import 'bower_components/bootstrap/scss/mixins/tab-focus';
@import 'bower_components/bootstrap/scss/variables';
@import 'bower_components/bootstrap/scss/reboot';
@import 'bower_components/bootstrap/scss/bootstrap-grid';

@import "styles/typography";
@import "styles/debug";


$body-color: #333;
//$body-bg-color: #F6F6F6;
$body-bg-color: #FCFCFC;

html, body {
  color: $body-color;
  background-color: $body-bg-color;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//column debug styles
$col-brdr-color: #d6d6d6;

.col.debug {
  min-height: $line-height-rem * 10;
}

.row.margin-top {
  margin-top: $line-height-rem * 1;
}

.col.pink {
  background-color: lighten(lightpink, 11%) !important;
}

$col-border: 1px solid $col-brdr-color;

.col.outlined {
  background-color: white;
  border-right: $col-border;
  border-top: $col-border;
  border-bottom: $col-border;
}
