@import 'styles/typography';
@import 'styles/debug';
@import 'styles/variables';

html, body {
  color: $body-color;
  background-color: $body-bg-color;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

.display-flex {
  display: flex;
  align-items: flex-end;
}
