* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #222;
}

h1,h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0074D9;
}

.content {
    position: absolute;
    top: 30%;
    left: 32%;
}

.title, .title  * {
    font-size: 188px;
    font-weight: 300;
}
.title .domain {
    opacity: 0.2;
    font-weight: 100;

    /*-webkit-animation-name: to-white-color;
    -webkit-animation-delay: 9s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;*/
}

.footer .sub-title,
.footer .sub-title * {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    opacity: 0.6;

}
.secondary {
    opacity: 0.5;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;

    /*-webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);*/

   /* -webkit-animation-name: to-white-color;
    -webkit-animation-delay: 9s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in, ease-in;
    -webkit-animation-fill-mode: forwards, forwards;*/

}

.footer {
    text-align: right;
}
.footer .sub-title #restuta {
    opacity: 1;
}

.footer .sub-title #me4ta {
    opacity: 1;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*-webkit-animation-name: background;
    -webkit-animation-duration: 33s;
    -webkit-animation-delay: 10s;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    -webkit-animation-iteration-count: infinite;*/
}

@-webkit-keyframes to-white-color {
    from {color: default;}
    to {color: ghostwhite;}
}

@-webkit-keyframes hide {
    from {opacity: 0.1;}
    to {opacity: 0;}
}

/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
        @-webkit-keyframes grow-font {
            from {font-size: 25px;}
            to {font-size: 188px; }
        }        
    }
*/
@-webkit-keyframes grow-font {
    /*from {transform: scale(1);}
    to {transform: scale(20) }*/
}

@-webkit-keyframes  background {
    0%   {background-color: white;}
    10%  {background-color: cornflowerblue;}
    20%  {background-color: lightcoral;}
    30%  {background-color: burlywood;}
    40%  {background-color: seagreen;}
    50%  {background-color: lightsalmon;}
    60%  {background-color: mediumorchid;}
    65%  {background-color: goldenrod;}
    70%  {background-color: mediumseagreen;}
    80%  {background-color: darkslateblue;}
    90%  {background-color: hotpink;}
    100% {background-color: cadetblue}
}


#particles-js{
  height:100%;
  width: 100%;
  background:#b61924
}