/* css reset minified */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


html,body{
    width:100%;
    height:100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #222;
}

/* remove canvas default margin */
canvas{
    display:block;
    vertical-align:bottom;
    width:100%;
    height:100%;
}


h1,h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: lightblue;
}

.content {
    position: absolute;
    top: 20vh;
    left: 20vw;
}

.title, .title  * {
    font-size: 20vw;
    font-weight: 300;
}
.title .domain {
    opacity: 0.2;
    font-weight: 100;

    -webkit-animation-name: to-white-color;
    -webkit-animation-delay: 5s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

.footer .sub-title,
.footer .sub-title * {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    ign: right;
    opacity: 0.6;

}
.secondary {
    opacity: 0.5;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;

    /*-webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);*/

   -webkit-animation-name: to-white-color;
    -webkit-animation-delay: 5s;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in, ease-in;
    -webkit-animation-fill-mode: forwards, forwards;

}

.footer {
    text-align: left;
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: #fcfcfc;
}
.footer .sub-title #restuta {
    opacity: 1;
}

.footer .sub-title #me4ta {
    opacity: 1;
}

body {
    background-color: antiquewhite;
    -webkit-animation-name: background;
    -webkit-animation-duration: 33s;
    -webkit-animation-delay: 5s;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes to-white-color {
    from {color: default;}
    to {color: ghostwhite;}
}

@-webkit-keyframes hide {
    from {opacity: 0.1;}
    to {opacity: 0;}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
        @-webkit-keyframes grow-font {
            from {font-size: 25px;}
            to {font-size: 188px; }
        }
    }

@-webkit-keyframes  background {
    0%   {background-color: antiquewhite;}
    10%  {background-color: cornflowerblue;}
    20%  {background-color: lightcoral;}
    30%  {background-color: burlywood;}
    40%  {background-color: seagreen;}
    50%  {background-color: lightsalmon;}
    60%  {background-color: mediumorchid;}
    65%  {background-color: goldenrod;}
    70%  {background-color: mediumseagreen;}
    80%  {background-color: cadetblue;}
    90%  {background-color: hotpink;}
    100% {background-color: darkslateblue}
}


#particles-js{
  height:100%;
  width: 100%;
}
