@import '../styles/variables';
@import '../styles/mixins';

.Home {
  //background-image: linear-gradient(-90deg, rgb(100, 65, 165), rgb(42, 8, 69));

  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .section-main {
    margin-top: 8rem;
  }

  .section-next {
    flex: 1 0 auto; //for footer to stick to bottom
    // margin-bottom: 40rem;
  }

  .section-badges {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }


  .header-whats-next {
    color: $grey-600;
  }

  .section-badges {
    // position: absolute;
    bottom: 1rem;
    flex:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .badge {
    margin-right: 1rem;
  }

  .header-whats-next {
    margin-top: 8rem;
  }
}
