@import '../styles/variables';
@import '../styles/mixins';

.Home {
  //background-image: linear-gradient(-90deg, rgb(100, 65, 165), rgb(42, 8, 69));

  .section-main {
    margin-top: 8rem;
  }


  .section-next > * {
    color: $grey-500;
  }

  .section-badges {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .badge {
    margin-right: 1rem;
  }

  .header-whats-next {
    margin-top: 8rem;
  }
}
