@import '../styles/variables';
@import '../styles/mixins';

.Home {
  .auth0-badge {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  .heap-analytics-badge {
    position: absolute;
    bottom: 1rem;
    left: 22rem;
  }
}
