@import '../styles/mixins';
@import '../styles/variables';
@mixin round-logo() {
  font-style: italic;
  width: 8rem;
  height: 8rem;
  padding-left: 1.55rem;
  padding-top: 2.35rem;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease 0s, transform 300ms, width 300ms;
  transform: translateX(0px) translateY(0px);
  &:hover {
    background-color: rgba(0, 0, 0, 0.16);
  }
}

.TopNavbar {
  //@include box-shadow-lvl-0();
  //@include box-shadow-like-slack();
  background-color: $body-bg-color;
  margin-bottom: 0;
  padding: 2rem;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;

  //debug
  //opacity: 0.7;
  //outline: 1px solid $grey-600;

  .content {

    width: 100%;
    max-width: 1600px;
  }
  .content.container {
    padding-left: 0;
    padding-right: 0;
  }
  .content .navbar-brand {
    @include text-4();
    color: black;
    font-weight: 900;
    padding-bottom: 0;
    //@include round-logo();
  }
  .content .navbar-brand-description {
    @include text-3();
    margin-top: 1rem;
    margin-bottom: 0;
    color: $grey-500;
    font-weight: 300;
    float: left;
    padding-left: 1rem;
    border-left: 1px solid $grey-300;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav .nav-link {
    @include text-3();
    transition: all ease 0.2s;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    color: $grey-600;
    &:hover {
      color: black;
    }
    &.faded {
      color: $grey-300;
      &:hover {
        color: $grey-700;
      }
    }
  }
}
