@import '../styles/mixins';

.TopNavbar {
    //@include box-shadow-lvl-0();
    //@include box-shadow-like-slack();
    @include text-4();
    background-color: white;
    margin-bottom: 0;
    padding: 2rem;

    //Debug
    //opacity: 0.5;
}
