@import 'variables';
@import 'bs4-fixes';


@mixin phone {
  @media (max-width: #{map-get($grid-breakpoints, "sm")}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{map-get($grid-breakpoints, "md")}) {
    @content;
  }
}

@mixin offset-to-baseline($offset) {

  // @if ($offset < 0) {
  //   @include offset-to-baseline-relative($offset, $margin-bottom)
  // } @else {
    //usging negative margins
  //   $offset: $px-as-rem * $offset;
  //   padding-top: $offset;
  //   margin-bottom: $margin-bottom - $offset;
  // }

  @include offset-to-baseline-relative($offset)
}

//using relative positioning
@mixin offset-to-baseline-relative($offset) {
  top: pxToRem($offset);
  position: relative;
  //margin-bottom: $margin-bottom;
}

//custom sizes (not in scale)
@mixin text-sm-9($offset: 1) {
  @include offset-to-baseline($offset);
  font-size: pxToRem(9);
  line-height: 1rem;
  font-weight: 500;
}

@mixin text-sm-10($offset:5) {
  @include text-1($offset);
}

@mixin text-sm-11($offset: 4) {
  @include offset-to-baseline($offset);
  font-size: pxToRem(11);
  line-height: 2rem;
  font-weight: 500;
}


@mixin text-sm-12($offset: 4) {
  @include offset-to-baseline($offset);
  font-size: pxToRem(12);
  line-height: 2rem;
  font-weight: 500;
}

@mixin text-sm-14($offset: 3) {
  @include offset-to-baseline($offset);
  font-size: pxToRem(14);
  line-height: 2rem;
  font-weight: 500;
}

@mixin text-1($offset: 5) {
  @include offset-to-baseline($offset);
  font-size: $font-size-1;
  line-height: 2rem;
  font-weight: 700;
}

@mixin text-2($offset: 4) {
  @include offset-to-baseline($offset);
  font-size: $font-size-2;
  line-height: 2rem;
}


@mixin text-3($offset: -1) {
  @include offset-to-baseline($offset);
  font-size: $font-size-3;
  line-height: 3rem;
}

@mixin text-4($offset: 5) {
  @include offset-to-baseline($offset);
  font-size: $font-size-4;
  line-height: 3rem;
}

@mixin text-5($offset: 0) {
  @include offset-to-baseline($offset);
  font-size: $font-size-5;
  line-height: 4rem;
}

@mixin text-6($offset: 2) {
  @include offset-to-baseline($offset);
  font-size: $font-size-6;
  line-height: 5rem;
  font-weight: 700;
}

@mixin text-7($offset: -1) {
  @include offset-to-baseline($offset);
  //top: -4px;
  //position: relative;
  font-size: $font-size-7;
  line-height: 5rem;
  font-weight: 900;
}

//using google original shadows from Polymer project (https://elements.polymer-project.org/browse?package=paper-elements&view=cards)

@mixin box-shadow-minimalistic() {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-custom-minimal() {
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.15);
}

@mixin box-shadow-like-slack {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

@mixin box-shadow-lvl-0 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


@mixin box-shadow-lvl-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-lvl-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}


@mixin box-shadow-lvl-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

@mixin box-shadow-lvl-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}


@mixin shadow-semantic-ui {
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

@mixin shadow-semantic-ui-card {
  box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

@mixin padding-vertical($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin padding-horizontal($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

// SVG TOOLS
// from http://www.heropatterns.com/
// convert svg to data:image http://codepen.io/jakob-e/pen/doMoML
// optimize online https://jakearchibald.github.io/svgomg/

@mixin background-image-canceled {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-size: inherit;
}

@mixin background-image-usa-flag {
  // background-color: #fff;
  //flag
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.07' width='247' height='130' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 7410 3900'%3E%3Cpath fill='%23b22234' d='M0 0h7410v3900H0z'/%3E%3Cpath stroke='%23fff' stroke-width='300' d='M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0'/%3E%3Cpath fill='%233c3b6e' d='M0 0h2964v2100H0z'/%3E%3Cg fill='%23fff'%3E%3Cg id='d'%3E%3Cg id='c'%3E%3Cg id='e'%3E%3Cg id='b'%3E%3Cpath id='a' d='M247 90l70.5342 217.082-184.661-134.164h228.2536l-184.661 134.164z'/%3E%3Cuse y='420' xlink:href='%23a'/%3E%3Cuse y='840' xlink:href='%23a'/%3E%3Cuse y='1260' xlink:href='%23a'/%3E%3C/g%3E%3Cuse y='1680' xlink:href='%23a'/%3E%3C/g%3E%3Cuse x='247' y='210' xlink:href='%23b'/%3E%3C/g%3E%3Cuse x='494' xlink:href='%23c'/%3E%3C/g%3E%3Cuse x='988' xlink:href='%23d'/%3E%3Cuse x='1976' xlink:href='%23c'/%3E%3Cuse x='2470' xlink:href='%23e'/%3E%3C/g%3E%3C/svg%3E");
  //stars
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 3480 2127' preserveAspectRatio='xMinYMin'%3E %3Cg id='x'%3E %3Cpath id='fx' fill='%233c3b6e' d='M0 0h4964v4100H0z'/%3E %3Cg fill='%23fff'%3E %3Cg id='d'%3E %3Cg id='c'%3E %3Cg id='e'%3E %3Cg id='b'%3E %3Cpath id='a' d='M247 90l70.5342 217.082-184.661-134.164h228.2536l-184.661 134.164z'/%3E %3Cuse y='420' xlink:href='%23a'/%3E %3Cuse y='840' xlink:href='%23a'/%3E %3Cuse y='1260' xlink:href='%23a'/%3E %3C/g%3E %3Cuse y='1680' xlink:href='%23a'/%3E %3C/g%3E %3Cuse x='247' y='210' xlink:href='%23b'/%3E %3C/g%3E %3Cuse x='494' xlink:href='%23c'/%3E %3C/g%3E %3Cg id='strs'%3E %3Cuse x='988' xlink:href='%23d'/%3E %3Cuse x='1976' xlink:href='%23d'/%3E %3Cuse x='2970' xlink:href='%23d'/%3E %3Cuse x='3952' xlink:href='%23c'/%3E %3Cuse x='4446' xlink:href='%23e'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3Cuse x='0' y='2140' fill='%23fff' xlink:href='%23b'/%3E %3Cuse x='247' y='1930' fill='%23fff' xlink:href='%23c'/%3E %3Cuse x='-247' y='1930' fill='%23fff' xlink:href='%23strs'/%3E %3Cuse x='4446' y='2140' fill='%23fff' xlink:href='%23b'/%3E %3C/svg%3E ");
  background-size: cover;
}

@mixin background-image-usa-flag-stars {
  //stars
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 3480 2127' preserveAspectRatio='xMinYMin'%3E %3Cg id='x'%3E %3Cpath id='fx' fill='%233c3b6e' d='M0 0h4964v4100H0z'/%3E %3Cg fill='%23fff'%3E %3Cg id='d'%3E %3Cg id='c'%3E %3Cg id='e'%3E %3Cg id='b'%3E %3Cpath id='a' d='M247 90l70.5342 217.082-184.661-134.164h228.2536l-184.661 134.164z'/%3E %3Cuse y='420' xlink:href='%23a'/%3E %3Cuse y='840' xlink:href='%23a'/%3E %3Cuse y='1260' xlink:href='%23a'/%3E %3C/g%3E %3Cuse y='1680' xlink:href='%23a'/%3E %3C/g%3E %3Cuse x='247' y='210' xlink:href='%23b'/%3E %3C/g%3E %3Cuse x='494' xlink:href='%23c'/%3E %3C/g%3E %3Cg id='strs'%3E %3Cuse x='988' xlink:href='%23d'/%3E %3Cuse x='1976' xlink:href='%23d'/%3E %3Cuse x='2970' xlink:href='%23d'/%3E %3Cuse x='3952' xlink:href='%23c'/%3E %3Cuse x='4446' xlink:href='%23e'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3Cuse x='0' y='2140' fill='%23fff' xlink:href='%23b'/%3E %3Cuse x='247' y='1930' fill='%23fff' xlink:href='%23c'/%3E %3Cuse x='-247' y='1930' fill='%23fff' xlink:href='%23strs'/%3E %3Cuse x='4446' y='2140' fill='%23fff' xlink:href='%23b'/%3E %3C/svg%3E ");
}

//polka dots pattern (for climbing races)
// background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff2626' fill-opacity='0.41' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
