@import 'variables';
@import 'mixins';
@import '../styles/bs4-fixes';

//baseline set with the help of http://www.gridlover.net/app/ and http://beta.gridlover.net/projects/74
//typographic scale of 1.333 (4/3, perfect fourth) is used
 // @import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);
// @import url(https://fonts.googleapis.com/css?family=Lato:900,900italic,700,700italic,400,400italic,300,300italic);


//Typekit styles to fight FOUT

//$headings-font-family: 'museo-sans-condensed', sans-serif;
.wf-loading {
  h1,h2,h3,h4,h5,p,a {
    visibility: hidden;
  }
}

.wf-active {
  h1,h2,h3,h4,h5,p,a {
    visibility: visible;
    //transition: visibility 2s ease-in-out;
  }
}

.wf-inactive {
  opacity: 1;
}


.wf-loading .fix-fout {
  opacity: 0.1;
}

.wf-active .fix-fout {
  opacity: 1;
  //transition: opacity 2s ease-in-out;
}

.wf-inactive .fix-fout {
  opacity: 1;
}


$headings-font-weight: 400;
$headings-color: black;
$headings-color-secondary: $grey-600;

//headings
$headings-margin-top: $line-height-rem;
$headings-margin-bottom: 1rem;

$h1-font-size: scaleUp(7); //8 or 7
$h1-line-height: $line-height-rem * 3;
$h1-margin-bottom: $headings-margin-bottom;

$h2-font-size: scaleUp(5);
$h2-line-height: $line-height-rem * 2;
$h2-margin-bottom: $headings-margin-bottom;

$h3-font-size: scaleUp(4);
$h3-line-height: $line-height-rem * 2;
$h3-margin-bottom: $headings-margin-bottom;

$h4-font-size: scaleUp(3);
$h4-line-height: $line-height-rem * 1.5;
$h4-margin-bottom: $headings-margin-bottom;

$h5-font-size: scaleUp(2);
$h5-line-height: $line-height-rem * 1.5;
$h5-margin-bottom: 0rem;


html {
  //todo: consider not setting base font at all
  //font-size: 62.5%;
  font-size: getBaseFontSize() + px;
  //font-size: 4px;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  html {
    font-size: (getBaseFontSize() - 1) + px;
  }
}

body {
  font-family: $body-font-family;
  font-size: $font-size-2;
  line-height: $line-height-rem;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headings-font-family;
  //text-transform: uppercase;
  font-weight: $headings-font-weight;
  color: $headings-color;
  margin-top: $headings-margin-top;
}
h1 {
  @include offset-to-baseline(3);
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: $h1-margin-bottom;
}
h2 {
  @include offset-to-baseline(0);
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: 700;
  margin-bottom: $h2-margin-bottom;
}
h3 {
  @include offset-to-baseline(1);
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: 700;
  margin-bottom: $h3-margin-bottom;
}
h4 {
  @include offset-to-baseline(6);
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin-bottom: $h4-margin-bottom;
}
h5 {
  @include offset-to-baseline(0);
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: 400;
  text-transform: uppercase;;
  margin-bottom: $h5-margin-bottom;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: $line-height-rem;
}
hr {
  background-color: $grey-50;
  margin-top: -1px;
  //margin: -1px 0; //negative margin, so it doesn't offset baseline
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
small {
  font-size: (1 / getScale()) + em
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.text-sm-9 {@include text-sm-9(); } //9
.text-sm-11 {@include text-sm-11(); } //9
.text-sm-12 {@include text-sm-12(); } //12

.text-sm-14 {@include text-sm-14(); } //12

.text-1 { @include text-1(); } //10
.text-2 { @include text-2(); } //13
.text-3 { @include text-3(); } //16
.text-4 { @include text-4(); } //20
.text-5 { @include text-5(); } //24
.text-6 { @include text-6(); } //31
.text-7 { @include text-7(); } //38

.header-regular {
  font-family: $body-font-family;
}
.condensed {
  font-family: $headings-font-family;
}
.uppercase {
  text-transform: uppercase;
}
.striked {
  text-decoration: line-through;
}
.italic {
  font-style: italic;
}
.secondary {
  color: $grey-500;
}
.w-300 {
  font-weight: 300
}
.w-500 {
  font-weight: 500
}
.w-700 {
  font-weight: 700
}
.w-900 {
  font-weight: 900
}
