@import 'colors';


@function getBaseFontSize() {
  /* rcn baseline works by setting the root font-size as half the line-height of the standard paragraph text. The height of the baseline grid
   is then effectively set at 2rem, with increments at each 1rem. This makes it nice and easy to work proportionally from the baseline with
   integer rem values to create harmony in your layout and typography. This is based off a technique for setting text in print documents. */


  //change in typography.js also
  @return 8;
}

@function pxToRem($px) {
  @return $px / getBaseFontSize() + 0rem;
}


@function getScale() {
  @return 1.25; //for 8px:   8, 10, 13, 16, 20, 24, 31 (1.25)
}

@function scaleUp($number) {
  $scale: getScale();
  $base-font-size: getBaseFontSize(); //plain number to use in calculation and not to mess with px to rem convertion

  $size: $base-font-size;

  $number: $number + 1;

  @if $number == 1 {
    @return (round($size) / $base-font-size) + 0rem;
  }

  @for $i from 1 through $number - 1 {
    $size: $size * $scale;
  }

  $size-rems: (round($size) / $base-font-size) + 0rem;
  @return $size-rems;
}

//this is a hack, since SASS doesn't have standard locally scoped variables, defining a pseudo
//class "local-scope", all variables inside it are local, except onse marked with "!gloabal" flag
.local-scope {
  //$line-height: 1.28571428;
  //$base-line: round(getBaseFontSize() * $line-height);
  //calculating ideal height in rems, but that rounds nicely to pixels
  //$line-height-rem: ($base-line / getBaseFontSize()) + 0rem;
  $line-height-rem: 2rem !global; //hardcoing
}

$half-line-height-rem: $line-height-rem / 2;


// $body-font-family: 'Lato', Helvetica, Arial, sans-serif;
// $headings-font-family: 'Oswald', sans-serif;


$body-font-family: 'museo-sans', 'Lato', Helvetica, Arial, sans-serif;
$headings-font-family: 'museo-sans-condensed', sans-serif;


//calculating small (one step down from base) font size
$font-size-1: scaleUp(1); //10
$font-size-2: scaleUp(2); //13
$font-size-3: scaleUp(3); //16
$font-size-4: scaleUp(4); //20
$font-size-5: scaleUp(5); //24
$font-size-6: scaleUp(6); //31
$font-size-7: scaleUp(7); //38


$drift-z-index: 1000;
$modal-z-index: $drift-z-index + 50;
