.Calendars {
  list-style-type: none;

  li {
    height: 100px;
    width: 240px;
    float: left;
    text-align: center;
    margin-right: 20px;
    border: 1px solid #aaa;
    padding: 0 20px;
  }

  li:first-child {
    border: none;
    text-align: right;
  }

  li a {
    text-decoration: none;
    text-transform: uppercase;
  }

  li a:hover {
    font-weight: bold;
  }
}
