@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/bs4-fixes';

.Calendar {

  >.body {
    margin-top: 4rem;
  }

  //padding-top: 4rem;
  padding-bottom: 1rem;

  //debug
  //outline: 1rem solid rgba(135, 206, 235, 0.4);
  margin-bottom: 10rem;
  //opacity: 0.5;

  .title {
    font-family: $body-font-family;
    font-weight: 900;
    margin-bottom: 0;
    // font-style: italic;
    text-align: center;
  }

  .sub-title {
    font-family: $body-font-family;
    //font-weight: 900;
    //margin-bottom: 0;
    // font-style: italic;
    //text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 400;
    color: $grey-500;
    text-align: center;
  }

  .today-date {
    white-space: pre;
  }

  .show-more-or-less {
    @include text-3()
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: pxToRem(1) solid $grey-300;
    font-style: normal;
    white-space: pre;
  }

  @media (max-width: map-get($grid-breakpoints, "md")) {
    //$title-font-size: $font-size-5;
    $sub-title-font-size: $font-size-3;

    .title {
      @include text-5()
      //line-height: 4rem;

    }

    .sub-title {
      @include text-3()
    }
  }


}
