.Calendars {
  list-style-type: none;

  li {
    height: 8rem;
    width: 20rem;
    float: left;
    text-align: center;
    margin-right: 1rem;
    border: 0.1rem solid #aaa;
    padding: 0 1rem;
  }

  li a {
    text-decoration: none;
    text-transform: uppercase;
  }

  li a:hover {
    font-weight: bold;
  }
}
