@import 'variables';
@import 'mixins';

.Flyer {
  opacity: 0.1;
  transition: opacity 0.2s ease-in;

  &.loaded {
    opacity: 1;
  }
}

.EventDetails-container {
  position: relative;
  min-width: 90rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

.EventDetails {
  >.content {
    // max-width: 90rem;

    .date {
      // margin-top: 1rem;
      margin-top: 0rem;
      margin-bottom: 0;
      top: pxToRem(-5);
      line-height: 2rem;
      color: $grey-600;
      > .relative {
        @include text-2(0);
        line-height: 1;
        font-style: italic;
      }
    }

    .name {
      margin-top: 0;
      margin-bottom: 0;
      top: pxToRem(-3);
      line-height: 3rem;
      letter-spacing: -0.2px;
    }

    .flyer {
      height: 100rem;
      background: rgba($blue-100, 0.5);
    }

    .badges {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 9.5rem;

      @include phone {
        padding-right: 0;
        margin-left: 4rem;
        justify-content: flex-start;
      }


    }

    .section-register {
      margin-top: 3rem;
    }

    //DEBUG STYLES

    .spacer {
      margin-top: 3rem - pxToRem(1);
      margin-bottom: 2rem;
    }

    >.content {
      outline: 1px solid silver;
    }

    &:before {
      content: '';
      // background-image: url(event-details-mock.png);
      background-size: 100% 100%;
      opacity: 0.2;
      width: 100%;
      max-width: 90rem;
      min-height: 96rem;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }


    .col {
      // outline:1px solid pink;
    }
  }
}
