@import '../styles/variables';
@import '../styles/mixins';

.Day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-left: pxToRem(1) solid $grey-300;
  background-color: $grey-100;

  transition: all ease 0.3s;

  &-date {
    @include text-3();
    font-weight: 400;
    width: 100%;
    text-align: right;
    // font-family: Oswald;
    // font-weight: 300;
    //text-align: right;
    color: $grey-500;
    top: -$px-as-rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &:hover {
    background-color: $grey-200;
  }

  &:last-of-type  {
    border-right: pxToRem(1) solid $grey-300;
  }

  &-today {
    background-color: whtie;
  }

  &-today-label {
    margin: 0;
  }

}
