@import '../styles/variables';
@import '../styles/mixins';

.Day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-left: pxToRem(1) solid $grey-300;
  background-color: $grey-50;

  transition: all ease 0.3s;

  &-date {
    @include text-3();
    font-weight: 400;
    font-size: pxToRem(14);
    width: 100%;
    //text-align: right;
    display: flex;
    justify-content: flex-end;
    // font-family: Oswald;
    // font-weight: 300;
    //text-align: right;
    color: $grey-500;
    top: pxToRem(2);
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  &:hover {
    background-color: $grey-100;
  }

  &:last-of-type  {
    border-right: pxToRem(1) solid $grey-300;
  }

  &-current-month {
    background-color: darken($grey-100, 1%);

    .Day-date {
      color: $grey-700;
    }
  }

  &-today {
    background-color: rgba(255,182,193,0.5);
  }

  &-today-label {
    margin: 0;
    line-height: 2rem;
    position: relative;
    text-align: right;
    display: inline;
    margin-right: 1rem;
    top: pxToRem(-1);
    //font-family: Lato;
    //font-weight: 700;
  }


}
