.Event {

  //from material design
  $box-shadow-lvl-1:  0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  $box-shadow-lvl-2: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);

  $base-line: 1.333333rem;


  position: relative;
  border-radius: 2px;
  //background-color: #fff;
  padding: $base-line;
  overflow: hidden;

  &.lvl-1 {
    box-shadow: $box-shadow-lvl-1;
  }

  &:hover {
    box-shadow: $box-shadow-lvl-2;
  }
}
