@import '../styles/variables';
@import '../styles/mixins';

.Event {
  position: relative;
  border-radius: 2px;

  // background-color: #fff;
  // padding: $line-height-rem;
  // transition: box-shadow .1s ease-in-out;

  &.lvl-1 {
    @include box-shadow-lvl-0();
    transition: all ease .2s;
  }

  &:hover {
    @include box-shadow-lvl-3();
  }

}

.EventName.debug {
  border: 1px solid $grey-300;
  position: relative;
  top: -1px;
}

$base-line-rem: $line-height-rem / 2;

//TODO: move to separate file
.EventName {
  @include text-2();
  margin-bottom: 0;
  max-height: $line-height-rem * 3;
  min-height: $line-height-rem * 3;
  overflow: hidden;

  &.size-XS {
    @include text-1();
    font-size: pxToRem(9);
    margin-bottom: 0;
    line-height: 1.5rem;
    padding-top: 0;
    max-height: $base-line-rem * 3;
    min-height: $base-line-rem * 3;
  }

  &.size-S {
    @include text-1();
    line-height: 1.5rem;
    padding-top: 2px;
    max-height: $base-line-rem * 6;
    min-height: $base-line-rem * 6;
  }

  &.size-M {
    @include text-2();
    font-weight: 700;
    font-size: pxToRem(12);
    max-height: $base-line-rem * 8;
    min-height: $base-line-rem * 8;
  }

  &.size-L {
    @include text-2();
    font-weight: 700;
    top: 0px;
    line-height: 2rem;
    max-height: $line-height-rem * 6;
    min-height: $line-height-rem * 6;
  }

  &.size-XL {
    @include text-3();
    font-weight: 700;
    top: 0px;
    line-height: 2.5rem;
    max-height: $line-height-rem * 6;
    min-height: $line-height-rem * 6;
  }
}
