@import '../styles/variables';
@import '../styles/mixins';

//using google original shadows from Polymer project (https://elements.polymer-project.org/browse?package=paper-elements&view=cards)
@mixin box-shadow-lvl-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-lvl-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

@mixin box-shadow-lvl-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

@mixin box-shadow-lvl-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}


.Event {
  position: relative;
  border-radius: 2px;

  // background-color: #fff;
  // padding: $line-height-rem;
  // transition: box-shadow .1s ease-in-out;

  &.lvl-1 {
    @include box-shadow-lvl-1();
    transition: all ease .2s;
  }

  &:hover {
    @include box-shadow-lvl-3();
  }

}

.EventName.debug {
  border: 1px solid $grey-300;
  position: relative;
  top: -1px;
}

//TODO: move to separate file
.EventName {
  @include text-2();
  margin-bottom: 0;
  max-height: $line-height-rem * 3;
  min-height: $line-height-rem * 3;
  overflow: hidden;

  &.size-1 {
    @include text-1();
    margin-bottom: 0;
    line-height: 1.5rem;
    padding-top: 0;
    max-height: $line-height-rem + 1rem;
    min-height: $line-height-rem + 1rem;
  }

  &.size-2 {
    @include text-1();
    line-height: 1.5rem;
    max-height: $line-height-rem * 3;
    min-height: $line-height-rem * 3;
  }

  &.size-3 {
    @include text-2();
    font-weight: 700;
    max-height: $line-height-rem * 3;
    min-height: $line-height-rem * 3;
  }

  &.size-4 {
    @include text-3();
    font-weight: 700;
    top: 0px;
    line-height: 2.5rem;
    max-height: $line-height-rem * 6;
    min-height: $line-height-rem * 6;
  }
}
