@import '../styles/variables';
@import '../styles/mixins';

.Month {
  //padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  //debug
  outline: 1rem solid rgba(255, 158, 198, 0.4);
  //@include box-shadow-lvl-0();
  .col {
    outline: 1px solid $grey-500;
    min-height: 12rem;
  }

  >.caption {
    @include text-4();
  }

}
