@import '../styles/variables';
@import '../styles/mixins';



.Week {
  $border-width-rem: pxToRem(1);

  //background-color: $grey-100;

  min-height: 16rem + $border-width-rem; //adding pixels to min height to compensate for border width

  border-top: $border-width-rem solid $grey-300;
  margin-top: -$border-width-rem;
  position: relative; //this makes borders visible despite negative top margin, idk why =)

  flex-wrap: nowrap;;
  justify-content: flex-end;


  &.last-one {
    border-bottom: $border-width-rem solid $grey-300;
    margin-bottom: -$border-width-rem;
  }
}
