@import '../../styles/variables';
@import '../../styles/mixins';

.Badge {
  $background-color: $grey-500;

  font-style: normal;
  font-family: $body-font-family;
  min-width: $line-height-rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  height: $line-height-rem;
  font-weight: 700;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  // text-shadow: 0 1px 0 rgba(0,0,0,.2);

  &.square {
    border-radius: 2px;
  }
}
