@import 'variables';
@import 'mixins';

@mixin DEBUG() {
  background-color: lightgoldenrodyellow;
}

.Event {
  position: relative;
  border-radius: 2px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

   background-color: white;
  // padding: $line-height-rem;
  // transition: box-shadow .1s ease-in-out;

  &.lvl-1 {
    // @include box-shadow-minimalistic();
    //@include box-shadow-lvl-0();
    //@include shadow-semantic-ui-card();
    @include box-shadow-custom-minimal();
    transition: all ease .2s;
  }

  &:hover {
    @include box-shadow-lvl-2();
  }

}

// debug
// .EventName {
//   outline: 1px solid lightgrey;
// }

$base-line-rem: $line-height-rem / 2;

//TODO: move to separate file




.EventName {
  @include text-2();
  margin-bottom: 0;
  max-height: $line-height-rem * 3;
  letter-spacing: -0.3px;
  //min-height: $line-height-rem * 3;

  //outline: 1px solid lightgrey;
  // max-height: auto !important;
  // min-height: auto !important;
  overflow: hidden;

  &.size-XXS {
    @include text-sm-9();
    top: pxToRem(-1);
    font-weight: 700;
    padding-left: pxToRem(2);
    padding-top: pxToRem(2);
    margin-bottom: 0;
    max-height: 100%;
    letter-spacing: 0;
  }

  &.size-XS {
    @include text-sm-9();
    top: pxToRem(2);
    font-weight: 700;
    margin-bottom: 0;
    max-height: $base-line-rem * 3;
    letter-spacing: -0.2px;
  }

  &.size-S {
    @include text-sm-11();
    line-height: 1.5rem;
    top: pxToRem(3);
    //top: pxToRem(-1);
    margin-bottom: 0;
    max-height: 95%;
    //max-height: calc(100% - 0.5rem);
  }

  &.size-M {
    @include text-sm-11();
    line-height: 1.5rem;
    top: pxToRem(3);
    font-weight: 700;
    margin-bottom: 0;
    max-height: $base-line-rem * 8;
  }

  &.size-L {
    @include text-2();
    margin-bottom: 0;
    font-weight: 700;
    max-height: $base-line-rem * 16;
    letter-spacing: -0.1px;
    //@include DEBUG();
  }

  &.size-XL {
    @include text-3();
    line-height: 2.5rem;
    top: pxToRem(1);
    letter-spacing: 0px;
    margin-bottom: 0;
    font-weight: 700;
    max-height: $line-height-rem * 6;
    letter-spacing: -0.1px;
  }
}
