@import 'variables';
@import 'mixins';

.Event {
  position: relative;
  border-radius: 2px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

   background-color: white;
  // padding: $line-height-rem;
  transition: box-shadow ease-out .2s;

  &.lvl-1 {
    @include box-shadow-custom-minimal();
  }

  &:hover {
    @include box-shadow-lvl-2();
    cursor: pointer;
    opacity: 1 !important;
  }

  &.canceled {
    //narrow lines pattern
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    //polka dots pattern (for climbing races)
    // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff2626' fill-opacity='0.41' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }
}

//cleaning up default link styles + adding neat visited effect

a.Event,
a.Event:hover {
  text-decoration: none;
  color: inherit;
}

a.Event:focus,
a.Event:active {
  @include box-shadow-lvl-2();
}
