@import '../styles/variables';

//overriding defaults


.Checkbox.c-input {
  padding-left: $font-size-3 * 1.5;
}

.Checkbox.c-input + .c-input {
  margin-left: $font-size-3;
}

.Checkbox.c-input.c-checkbox {
  display: inline-block;
  margin-bottom: 0;

  .c-indicator {
    line-height: inherit;
    width: $font-size-3;
    height: $font-size-3;
    font-size: inherit;
  }
}

.c-input > input:checked ~ .c-indicator {
  background-color: $primary-color;
}

.c-input > input:focus ~ .c-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $primary-color;
}
