@import 'variables';
@import 'mixins';

.Modal.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start; //required for proper scrolling of the modal

  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: $modal-z-index;
  overflow-x: hidden;
  overflow-y: auto;
}

.Modal.content {
  // overflow: initial;
  display: block;
  position: relative;
  background-color: $body-bg-color;
  border-radius: pxToRem(3);
  padding: 4rem;
  // margin: 5rem auto auto 4rem;
  width: 100%; //required for IE 11 (at least)
  max-width: 90rem;
  // min-height: 85vh;
  min-height: 96rem;
  margin-bottom: 8rem;
  margin-top: 8rem;
  z-index: $modal-z-index + 50;
  outline: 0;
  @include box-shadow-lvl-4();

  // position: absolute;
  // left: 50%;
  // margin-left: -40rem;
  transform: translate3d(0, 0, 0); //kicks in hardware acceleration while scrolling
}
