@import 'variables';
@import 'mixins';

.MyModal.backdrop {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  justify-content: center;
  z-index: $modal-z-index;

  > .content {
    display: block;
    position: relative;
    background-color: $body-bg-color;
    border-radius: pxToRem(3);
    padding: 4rem;
    // margin: 5rem auto auto 4rem;
    width: 90rem;
    height: 85vh;
    top: 8rem;
    z-index: $modal-z-index + 50;
    outline: 0;
  }
}
