@import 'styles/typography';
@import 'styles/debug';
@import 'styles/variables';

html, body {
  color: $body-color;
  background-color: $body-bg-color;
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin-bottom: 1rem;
}

a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:focus,
a:hover,
a:active {
  outline: none;
  color: $deep-purple-700;
  cursor: pointer;
}

a {
  color: $primary-color;
}

//so .fa iconst do not break vertical rythm
.fa {
  vertical-align: bottom;
}

// svg {
//   vertical-align: bottom !important;
// }

.display-flex {
  display: flex;
  align-items: flex-end;
}


//making drift z-index lowe than modal z-index
#drift-widget-container {
  z-index: $drift-z-index !important;
}
