<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plan your racing season. Discover rides and races in your area.">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Loading Typekit fonts -->
    <script>
      (function(d) {
        var config = {
          kitId: 'hhr5oip',
          scriptTimeout: 3000,
          async: true,
          loading: function() {
            window.typekitLoadingStarted = +new Date()
            console.log('    Fonts are loading...')
          },
          active: function() {
            var timeToLoadFonts = (+new Date()) - window.typekitLoadingStarted
            console.log('    Fonts are loaded in  ' + timeToLoadFonts + 'ms')
          },
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

  </head>
  <body data-grid-framework="b3" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10"
    data-grid-gutterwidth="16px" data-grid-nbcols="14">
    <div id='root'>
    </div>
    <!-- <script src="vendor.bundle.js"></script>
    <script src="app.bundle.js"></script> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <script>
      var HW_config = {
        selector: '.HeadwayChangelog', // CSS selector where to inject the badge
        account: 'a7zwXJ' // your account ID
      };
    </script>
    <script async src="//cdn.headwayapp.co/widget.js"></script>
  </body>
</html>
