/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: url(http://griddle.it/940-12-30?color=1C1A1D&num=0) repeat-y center top;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: url(http://griddle.it/1140-12-30?color=1C1A1D&num=0) repeat-y center top;
  }
}


body {
  color: rgb(234, 234, 234);

  /* medium */
  /*background: url(http://griddle.it/940-12-30?color=1C1A1D&num=0) repeat-y center top;*/

  /* large */
  /*background: url(http://griddle.it/1140-12-30?color=1C1A1D&num=0) repeat-y center top;*/
  background-color: #151515;
}

.todo {
  position: absolute;
  right:20px;
  top: 20px;
  z-index: 9000;
}

.page-header h1 {
  font-size: 4em;
}

.thumbnail {
  background-color: inherit;
  border: none;
  margin-bottom: 0;
}

.row {
  /*margin-bottom: 200px;*/
}

.row.row-margin-bottom {
  margin-bottom: 30px;
}

.logo.logo-256,
.logo.logo-256 > .img-responsive {
  min-width: 256px;
  min-height: 256px;
}

.logo.logo-128,
.logo.logo-128 > .img-responsive {
  min-width: 128px;
  min-height: 128px;
}

.logo.logo-64 {
  min-width: 64px;
  min-height: 64px;
}

.logo.logo-64 > .img-responsive {
  min-width: 64px;
  min-height: 64px;
}

.horizontal,
.squared-1,
.squared-2 {
  margin-bottom: 60px;
}

.squared-1 .logo-64,
.squared-2 .logo-64 {
  margin-top: 60px;
}
